* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

h2 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

#tabela {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    margin-top: 110px;
    background-color: #FCF5E5;
}

#logo {
    padding: 0 10px;
}

div.logo {
    display: flex;
    align-items: center;
}

header {
    background-color: #011638ff;
}


nav {
    background-color: #011638ff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #FCF5E5;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

a {
    text-decoration: none;
    font-family: Georgia;
    font-size: 15px;
    color: #FCF5E5;
}

#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FCF5E5;
    font-size: 18px;
}

li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
}

li:hover, button:hover{
    background-color: rgb(19, 74, 255);
}

button {
    background-color: transparent;
    border-radius: 15px;
    border-color: #FCF5E5;
    font-size: 30px;
    padding: 2px 8px;
    color: #FCF5E5;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 16px;
    display: none;
}

table {
    margin: auto;
    text-align: center;
    width: 85%;
}

th, tr, td {
    padding: 5px;
}

#banner {
    width: 100%;
    height: 500px;
    background: url(imagens/banner.jpg);
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
}

#botao {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 290px;
    transition-duration: 0.4s;
    background-color: rgb(2, 120, 138);
    border-radius: 10px;
    border: 2px solid #FCF5E5;
}

p#chamada {
    display: inline-block;
    margin-top: 50px;
    color: #FCF5E5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

:target {
    scroll-margin-top: 100px;
}

section {
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    p#chamada {
        font-size: 20px;
    }
    .logo {
        height: 80px;
        border-bottom: 1px solid #FCF5E5;
    }

    button{
        display: flex;
    }

    button:focus ~ ul{
        max-height: 280px;
        transition: max-height 0.5s ease;
    }
    
    nav, ul {
        flex-direction: column;
        align-items: stretch;
        height: auto;
        padding: 0px;
        margin: 0px;
    }
    
    ul {
        max-height: 0;
        overflow: hidden;
    }
    
    li{
        padding:12px;
        border-bottom: 1.5px #FCF5E5 solid;
    }
}

:target ~ nav {
    display: none;
}